.login{
  background-color: black;
  height: 100vh;
  display: grid;
  place-items: center;
}

.login > img{
  width: 70%;
  max-width: 500px;
  filter: invert(100%);
}

.login > a{
  padding: 20px;
  background-color: #1DB954;
  border: none;
  border-radius: 99px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}